{% extends 'layout.html' %}

{% block content %}
<h1>BDD Test</h1>


{% if is_logged_in %}

<h3>Welcome {{user.username}}!</h3>

<a href="{% url 'logout' %}?next=/">Logout</a>

{% else %}

<a href="{% url 'login' %}">Login</a>
{% endif %}
{% endblock %}