<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BDD Test</title>
</head>

<body>
    {% block content %}
    {% endblock content %}

    {% if messages %}
    {% for message in messages %}
    <h4 id="login-message">{{ message }}</h4>
    {% endfor %}
    {% endif %}
</body>

</html>