{% extends 'layout.html' %}

{% block content %}
<h1>Login</h1>
<form action="/login" method="post">
    {% csrf_token %}

    <label for="id_username">Username </label>
    <input type="text" name="username" maxlength="100" id="id_username" required>

    <label for="id_password">Password </label>
    <input type="password" name="password" required id="id_password">

    <input id="login_btn" type="submit" value="Login">

</form>

{% endblock content %}